<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Console</directory>
            <directory suffix=".php">./app/Exceptions</directory>
            <directory suffix=".php">./app/Providers</directory>
            <directory suffix=".php">./app/Http/Controllers/Auth</directory>
            <directory suffix=".php">./app/Http/Middleware</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <env name="DB_DATABASE" value="marvel_heroes_test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="MARVEL_API_URL" value="https://gateway.marvel.com/v1/public"/>
        <env name="MARVEL_API_PUBLIC_KEY" value="f45f3dccfd10b2b6d7e9df21613eb34a"/>
        <env name="MARVEL_API_TIMESTAMP" value="1"/>
        <env name="MARVEL_API_HASHMD5" value="bdcc414432544e458996b306dfe0c4a4"/>
        <env name="MARVEL_API_PRIVATE_KEY" value="2b8342999eacff4d0b528929469c097857a4f8ac"/>
        
    </php>
</phpunit>
